{% extends 'index.html' %} {% block content %}

<style>
#center {
position: absolute;
width: 900px;
height: 200px;
z-index: 15;
top: 50%;
left: 50%;
margin: -100px 0 0 -300px;
}
</style>

<div id="center" class="text-white">
    <h1> About Snippets </h1>
    <p></p>
    <p> Developed by edusanketdk, Snippets was inspired from Dan Bader's email newsletters.</p>
    <p> Here you can share tech-stuff, codes, coding tricks and much more. </p>
    <p> Its like a one stop solution to revealing the educator inside you. </p>
    <p> So, start writing bitch!</p>
</div>
{% endblock content %}