{% extends 'index.html' %} {% block content %}

<div class="container p-3 mb-2">
  <div class="row">
    <div class="col-md-10 mt-3 mx-auto">
      <div class = "form-group text-white">
        <form method = "POST">
          {% csrf_token %}
          {{form.media}}
          {{form.as_p }}
          <p> (Slug is used in the url of your blog. Generally, a short form of the title is used as a slug.) </p>
          <button class="btn btn-secondary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}